@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<div class="container my-5">

		<div class="row row-cols-1 row-cols-md-2 g-3">
			<div class="col justify-content-center">
				<img src="~/imgs/cover-1720097640266-foto-1.jpg" class="img-fluid justify-content-center" style="max-height:contain;" />
			</div>
			<div class="col justify-content-center text-center">
				<h3>Our opportunity and responsibility</h3><br />
				We’re living in an era in which technology has the potential to power awesome advancements across every sector of our economy and society.
				This places us at a historic intersection of opportunity and responsibility. Our mission has never been more important.
				To realize it, we must create a future that benefits everyone.
			</div>
		</div>


		<div class="position-relative mt-5">
			<div>
				<img src="~/imgs/About-HealthcareTechnology.jpg" class="w-100" alt="...">
			</div>
			<div class="position-absolute top-50 start-0 translate-middle-y ms-5 bg-white bg-opacity-75 p-4 d-none d-md-block" style="max-width: 500px;">
				<h2 class="fw-bold">We empower the world</h2>
				<p class="mb-0">
					Microsoft’s mission is to empower every person and every organization on the planet to achieve more.
				</p>
			</div>
		</div>
		<div class="d-md-none">
			<h2 class="fw-bold">We empower the world</h2>
			<p class="mb-0">
				Microsoft’s mission is to empower every person and every organization on the planet to achieve more.
			</p>
		</div>

		<div class="card-group my-5">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>


	</div>
}
