@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<div class="container">
		<div class="row d-flex flex-column justify-content-center align-items-center">
			<div class="col row-cols-12 justify-content-center align-items-center">
				<img src="~/imgs/harold-thumb.jpg" class="w-100"/>
			</div>
			<div class="col row-cols-12 justify-content-center align-items-center text-center">
			<h3>Anche tu ti senti così? Ci pensiamo noi!</h3>
			</div>
		</div>
	</div>
}
