@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<div class="container mt-5">
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam consequat sollicitudin. Sed at pulvinar turpis. Morbi ultrices pellentesque ipsum, nec posuere mi placerat vel. Proin ac semper magna. Maecenas accumsan porttitor tincidunt. Ut tempus aliquam metus in luctus. Nulla quam magna, fermentum at eros non, ultricies pharetra tellus.</h3>
	</div>
}
