@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<div class="container text-center my-5">
		<div class="row row-cols-lg-4 row-cols-md-2  row-cols-1 d-flex align-items-center">
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="1"><img src="~/imgs/image20250409104600.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Luca</h5>
						<p class="card-text">Appassionato di bocce (sport)</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="2"><img src="~/imgs/foto_cv.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Luciano</h5>
						<p class="card-text">Appassionato di cadaveri</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="3"><img src="~/imgs/Image20250409141550.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Daniele</h5>
						<p class="card-text">Appasionato di bocce (non lo sport)</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="4"><img src="~/imgs/image20250409104847.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Matteo</h5>
						<p class="card-text">Appassionato di patata (non il tubero)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

}
