@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<div class="container text-center my-5">
		<div class="row row-cols-lg-4 row-cols-sm-2  row-cols-1 d-flex align-items-center g-5">
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="1"><img src="~/imgs/luca.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Luca</h5>
						<p class="card-text">Appassionato di bocce (si lo sport)</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="2"><img src="~/imgs/luciano.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Luciano</h5>
						<p class="card-text">Appassionato di cadaveri (umani)</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="3"><img src="~/imgs/daniele.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Daniele</h5>
						<p class="card-text">Appasionato di bocce (non sport)</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<a asp-area="" asp-controller="Home" asp-action="CV" asp-route-id="4"><img src="~/imgs/matteo.jpg" class="card-img-top" alt="..." /></a>
					<div class="card-body">
						<h5 class="card-title">Matteo</h5>
						<p class="card-text">Amatore di patata (non tubero)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

}
