@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Squadra Scopone e Bocce ti da il benvenuto</h1>
	<a asp-area="" asp-controller="Home" asp-action="AboutUs"><img src="~/imgs/web_developer.png" class="w-50 shadow-lg" /></a>
</div>
